<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="home"></clr-icon>
        <span class="title">Project SLIIT</span>
      </a>
    </div>
    <div class="header-actions">
      <a
        routerLink="/auth/login"
        class="nav-link nav-icon-text"
        *ngIf="!loggedUser"
      >
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">Login</span>
      </a>
      <a class="nav-link nav-icon-text" *ngIf="loggedUser">
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">{{ loggedUser }}</span>
        <clr-icon
          (click)="logOut()"
          shape="logout"
          style="cursor: pointer;"
        ></clr-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <a
          routerLink="/"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Dashboard
        </a>
        <a routerLink="/create" class="nav-link" routerLinkActive="active">
          Create
        </a>
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox" />
          <label for="tabexample1">About</label>
          <ul class="nav-list">
            <li><a class="nav-link">Terms & Conditions</a></li>
            <li><a class="nav-link">Privacy Policy</a></li>
          </ul>
        </section>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
